* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
background-color: #FAFAFA;
align-items: center;
}

header {
  background: #fff;
  height: 100px;
  border-bottom: 1px solid #C4C4C4;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-content {
  width: 672px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin: 0 auto;
}

.right-content {
  margin: 0 -15px;
}

.right-content img {
  padding: 0 15px;
}

main {
  background: #FAFAFA;
  margin: 0 auto;
}

.stories {
  background: #fff;
  height: 164px;
  border: 1px solid #C4C4C4;
  margin: 29px auto 0;
  display: flex;
  align-items: center;
  width: 640px;
}

.stories-content {
  margin: 0px -3px;
  align-items: center;
  justify-content: space-around;
  width: 647px;
  display: flex;
  padding: 0 10px;
}


.stories-content-box {
  width: 80px;
  height: 106px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.post {
  width: 640px;
  height: 811px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: unset;
  margin: 0 auto;
  margin-top: 30px;
}

.post__header {
  display: flex;
}

.post__header__img {
  margin: 12px 0 0 24px;
}

.post__header__account{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding: 21px 0 20px 16px;
  color: #121212;
}

.post__image {
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}

.post__imgage_desc {
  display: block;
  width: 100%;

}

.post__like {
  display: flex;
}

.post__like__img {
  margin:24px 0 0 24px;
}

.post__like__number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #121212;
  padding: 29px 0 0 17px;
}

.post__description {
  margin: 16px 0 0 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #121212;
  }

.post__description_account {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-right: 16px;
}